*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: "Celtics Font";
     src: url(../assets/fonts/NBA\ Celtics.ttf); 
    }
/*------------------------------------------------BODY---------------------------------------------------------*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.178); /* Blanco semitransparente */
    font-family: Arial, sans-serif;
}
/*--------------------------------------------------MAIN-------------------------------------------------------*/

main{
    max-width: 100%;
    min-height: calc(100vh-95px);
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px  1fr  auto;
    grid-template-areas: 
    "my-header my-header my-header"
    "my-section my-section my-section"
    "my-footer my-footer my-footer";
    margin: 0 auto;
}

main section div ul li a img{
    width: 10px;
    height: 10px;
    margin: 0;
}
/*------------------------------------------------SECTION-----------------------------------------------------*/
section {
  grid-area: my-section;
}
/*---------------------------------------------- HEADER Y NAV--------------------------------------------------*/
header {
  grid-area: my-header;
}

header nav{
    min-width: 100%;
    height: 95px;
    display: flex;
    flex-flow: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 122, 51, 1);
    opacity: 0.95;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
    margin: 0 30px;
}

header nav ul li a{
    font-size: 1.7em;
    font-family: "Celtics Font", sans-serif;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

header nav ul li a:hover{
    color: #007A33;
    text-shadow: 2px 2px 5px #ffffff;
    transition: all 0.3s ease-in-out;
}

.activo{
    color: rgb(0, 122, 51);
    border-radius: 40px;
    text-shadow: 2px 2px 5px white;
}
.logo-celtics{
    width: 70px;
    height: 70px;
    margin-top: 7px;
    margin-bottom: 2px;
    margin-left: 15px;
}
/*--------------------------------------------------ARTICULO ULTIMOS RESULTADOS---------------------------------------------*/
#ult-resultados {
    min-width: 1440px;
    height: 150px;
    margin: 20px 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    box-shadow: 3px 3px 2px #00B140;
}
.fila {
  display: flex;
  justify-content: "space-between";
  gap: 20px;
  border-radius: 20px;
}


.partidos {
    display: flex;
    margin: 15px 0;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 122, 51, 0.838);
    border-radius: 8px;
    font-family: "Celtics Font", sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.logo-articulo {
    width: auto;
    height: 50px;
    padding: 5px;
}   

.resultado {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff; /* verde Celtics */
}

span{
    color: white;
    text-shadow: 1px 1px 2px black;
}

.linea-vertical{
    width: 3px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(0,122,51);
    box-shadow: 2px 2px 3px #1e1d1d;
}

ul li{
    margin-top: 10px;
    color: white;
    font-size: 1.2em;
    font-family: "celtics font", sans-serif;
    list-style: none;
}

ul li img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 220px;
    right: 58px;
}

.body-span{
    color: #00B140;
    text-shadow: 1px 1px 1px rgb(18, 17, 17);
    cursor: pointer;
}
/*------------------------------------------------------------HOME-LEYENDAS---------------------------------------------------------------*/
.leyendas-section {
    max-width: 800px;
    height:380px;
    display: flex;
    margin-top: 850px; 
    margin-left: 70px;
    padding-bottom: 50px; 
    justify-content: center;
    border-radius: 20px;
}

.leyendas-home { 
    max-width: 800px; 
    height: 380px;
    display: flex;
    flex-wrap: wrap; 
    padding: 10px; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 15px 4px #00B140;
    border: 2px solid #00B140;
    border-radius: 20px;
}

.leyendas-home h2 {
    width: 100% ;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 3px rgb(0, 177, 64);
    color: white;
}

.leyendas-home p {
    min-width: 300px;
    flex: 1;
    justify-content: start;
    text-align: justify;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: white;
    text-shadow: 1px 1px 2px #007A33;
}
.img-leyendas {
    width: 300px; 
    height: 280px; 
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 4px #00B140;
    object-fit: cover;
}

.img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 10px 5px #00B140;
    cursor: pointer;
}
/*--------------------------------------------------HOME-MERCHANDISING-----------------------------------------------------*/
.sec-merch-1 {
    max-width: 500px;
    height: 380px;
    margin-top: 850px; 
    margin-left: 910px;
    padding-bottom: 50px; 
    justify-content: center; 
}

.merch-1{
    max-width: 550px; 
    height: 375px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid #00B140;
    border-radius: 20px;
    box-shadow: 0 0 15px 4px #00B140;
}

.img-merch-1 {
    width: 250px; 
    height: 250px; 
    margin-top: 15px;
    margin-left: 125px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 4px #00B140;
    object-fit: cover;
}
.merch-1 h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 177, 64);
}

.merch-1 p {
    margin-top: 20px;
    margin-left: 20px;
    text-align: start;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #007A33;
}
/*--------------------------------------------------HOME-TITULOS-----------------------------------------------------*/
.sec-titulos {
    max-width: 900px;
    height: 420px;
    display: flex;
    margin-top: 1300px; 
    margin-bottom: 30px;
    margin-left: 320px;
    justify-content: center; 
    border-radius: 20px;
}

.div-titulos{
    max-width: 900px; 
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 15px 4px #00B140;
    border: 2px solid #00B140;
    border-radius: 20px;
}

.img-titulos {
    width: 400px; 
    height: 300px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 4px #00B140;
    object-fit: cover;
}

.div-titulos h2 {
    width: 100% ;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 3px rgb(0, 177, 64);
    color: white;
}
    
.div-titulos p {
    min-width: 300px;
    flex: 1;
    justify-content: start;
    text-align: justify;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    color: white;
    text-shadow: 1px 1px 2px #007A33;
}  
/*-------------------------------------------------------SLIDER-------------------------------------------------------*/
.slider-box{
    width: 1280px;
    height: auto;
    margin: 170px auto 0;
    overflow: hidden;
    z-index: 1;
}

.slider-box ul{
    width: 400%;
    display: flex;
    padding: 0;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    position: relative;
    list-style: none;
}

.slider-box img{
    width: 85%;
    height: 600px;
    padding: 5px auto;
    position: relative;
    top: 30px;
    left: 98px;
    border: 4px solid black;
    box-shadow: 1px 1px 10px 5px #007A33;
    border-radius: 20px;
    object-fit: cover;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*---------------------------SECTION GRID------------------------------------*/

.grid-container1{
    max-width: 680px;
    height: 520px;
    padding: 1rem;
    margin-top: 850px;
    margin-left: 190px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 1rem;
    background-color: rgba(0, 0, 0, 0.838); /* Blanco semitransparente */
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px #007A33;
}
.galeria-grid{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.item-a{
    grid-row: 1 / 3;
}

.item-b{
    grid-column: 3 / 5;
}

.item-c{
    grid-row: 2 / 4;
}

.item-d{
    grid-column: 3 / 5;
}
/*-------------------------------------------------SECTION-GRID-2------------------------------------------------*/
.grid-container2{
    max-width: 350px;
    height: 520px;
    padding: 1rem;
    margin-top: 850px;
    margin-left: 945px;
    display: grid;
    grid-template-columns: 150px 150px ;
    grid-template-rows: 150px 150px 150px 150px;
    grid-gap: 1rem;
    background-color: rgba(0, 0, 0, 0.838); 
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px #007A33;
}

/*------------------------------------------------SECTION GRID 3--------------------------------------------------*/
.grid-container3{
    max-width: 1100px;
    height: 350px;
    padding: 1rem;
    margin-top: 1400px;
    margin-left: 190px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns:150px 150px 150px 150px 150px 235px;
    grid-template-rows: 150px 150px ;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    background-color: rgba(0, 0, 0, 0.838); 
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px #007A33;
}

.item-e{
    grid-column: 3 / 5;
}

/*---------------------------PRESUPUESTO------------------------------------*/
.section-presupuesto{
    max-width: 530px;
    height: 540px;
    display: inline-block;
    margin-top: 275px;
    margin-left: 180px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 2px #00B140;
    border-radius: 30px;
}

.container{   
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 122, 51,0.655);
    text-shadow: 1px 1px 2px black;
    border-radius: 20px;
}

section .container h2{
    margin-left: 5px;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgb(0, 177, 64);
}

form label{
    width: 350px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    justify-content: start;
    align-items: center;
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px 2px #007A33;
    text-transform: capitalize;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputs{
    display: flex;
    margin-left: 10px;
    padding: 10px;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: 1em;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color:rgba(51, 51, 51, 0.834);
    box-shadow: 2px 2px 8px #000000;
    border-radius: 5px;
}

#detalles{
    display: flex;
    margin-left: 10px;
    gap:5px;
    font-size: 1em;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color:rgba(51, 51, 51, 0.834);
    box-shadow: 2px 2px 8px #000000;
    border-radius: 5px;
}

#checkbox{
    position: relative;
    bottom:21px;
    margin-left: 300px;
}

#label-checkbox{
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1em;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #007A33;
    text-transform: capitalize;
}

button{
    margin-left: 10px;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color:rgba(51, 51, 51, 0.834);
    box-shadow: 2px 2px 8px #000000;
    border-radius: 5px;
}
/*----------------------------------------------PRESUPUESTO-IMAGENES--------------------------------------------*/
.section-presupuesto-imgs1{
    max-width: 400px;
    height: 200px;
    padding: 20px;
    position: relative;
    top: 200px;
    left: 800px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    box-shadow: 3px 3px 2px #00B140;
}

.section-presupuesto-imgs2{
    max-width: 400px;
    height: 200px;
    padding: 20px;
    position: relative;
    top:425px;
    left: 1000px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    box-shadow: 3px 3px 2px #00B140;
}

.section-presupuesto-imgs3{
    max-width: 400px;
    height: 200px;
    display: inline-block;
    margin-top: 650px;
    margin-bottom: 20px;
    margin-left: 800px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    box-shadow: 3px 3px 2px #00B140;
}

.container-imgs{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: flex-start;
    align-items: start;
    gap: 15px;
}

.presupuestoimg{
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 4px #00B140;
    object-fit: cover;
} 

.p-presupuesto-imgs{
    max-width: 220px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #00B140;
    line-height: 1.4;
}


/*----------------------------SECCION IMAGEN CONTACTO---------------------------------*/
#section-imagen-est-maps{
    width: 750px;
    height:347.34px;
    display: flex;
    margin-top: 210px;
    margin-bottom: 20px;
    margin-left: 1px;
    padding: 20px;
    justify-content:start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.207);
    border-radius: 20px;
    box-shadow: 3px 3px 10px #000000;
}  
.img-estadio-maps{
    width: 730px;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 4px #00B140;
}
/*--------------------------------SECCION CONTACTO----------------------------------*/

.div-contacto{
    width: 600px;
    height: 347.34px;
    display: flex;
    margin-top: 230px;
    margin-left: 840px;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: start;
    align-items: flex-end;
    background-color:rgba(0, 0, 0, 0.805);
    border-radius: 15px;
    box-shadow: 2px 2px 10px 4px #00B140;
}

.lista-td .P-tdgarden{
    display: flex;
    margin-bottom: 25px;
    margin-left: 170px;
    align-items: start;
    font-family: "Celtics Font";
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 2px #007A33 ;
}
.lista-td .p1-tdgarden{
    margin-bottom: 15px; 
    font-family: "Celtics Font";
    font-size: 30px;
    color: white;   
    text-shadow: 2px 2px 2px #007A33 ;
    text-decoration: solid underline;
}

.lista-td .p2-tdgarden{
    margin-bottom: 10px;   
    padding-top: 15px;
    font-family: "Celtics Font";
    font-size: 30px;
    color: white; 
    text-shadow: 2px 2px 2px #007A33 ;
    text-decoration: solid underline;
}

.lista-td li{
    font-size: 19px;
    color: white;
    text-shadow: 1px 1px 2px #007A33 ;
}
/*---------------------------------------------------- FOOTER -------------------------------------------------*/
footer{
    width: 100%;
    height: 80px;
    grid-area: my-footer;
    display: flex;
    margin-top: auto; 
    margin-bottom: 0;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.85); 
}
footer .p1{
    margin-top: 20px;
    text-align: start;
    font-family: 'Celtics Font', sans-serif;
    font-size: 22px;
    color: white;
    text-transform: capitalize;
}

.aviso-legal{
    margin-top: 20px;
    margin-left: 180px;
    text-align: center;
    font-size: 22px;
    font-family: 'Celtics Font', sans-serif;
    font-weight: 100;
    color: white;
}

.direccion-empresa{
    margin-top: 20px;
    margin-left: 280px;
    text-align: center;
    font-size: 22px;
    font-family: 'Celtics Font', sans-serif;
    font-weight: 100;
    color: white;
}
/*----------------------------------------------FOOTER-REDES-SOCIALES--------------------------------------------*/

.twitter{
    width: 40px;
    height: 40px;
    align-self: self-end;
    margin:10px 5px;
}

.instagram{
    width: 40px;
    height: 40px;
    align-items: end;
    margin:10px 5px;
}

.youtube{
    width: 40px;
    height: 40px;
    align-self: self-end;
    margin:10px 5px;
}

.tiktok{
    width: 40px;
    height: 40px;
    align-self: self-end;
    margin:10px 5px;
}
