<!DOCTYPE html>
<html lang="es">
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="La mejor página de los Boston Celtics que verás. Encontrarás las equipaciones, la historia del equipo o hasta comprar una visita por el estadio" />
        <meta name="robots" content="FOLLOW, INDEX" />
        <meta name="Author" content="Inok" /> 
        <meta name="keywords" content="Celtics,Presupuesto,Galería,Contacto" /> 
        <meta name="revisit-after" content="2 days" />
        <link rel="icon" href="../assets/img/logo-celtics.png" width="2100" height="2333">
        <title>Boston Celtics</title>
        <link rel="stylesheet" href="../css/estilos.css">
    </head>
<!--------------------------------------------------------------------BODY---------------------------------------------------------------->
   <body>
<!-------------------------------------------------------------------HEADER--------------------------------------------------------------->
      <header>
         <nav>
               <a href="../index.html">
                  <img src="../assets/img/logo-celtics.png" alt="logo-celtics" class="logo-celtics" width="2100" height="2333">
               </a>
            <ul>
                  <li><a class="home" href="../index.html">HOME</a></li>
                  <li><a class="galeria activo" href="productos.html">GALERIA</a></li>
                  <li><a class="presupuesto" href="presupuesto.html">PRESUPUESTO</a></li>
                  <li><a  class="contacto" href="contacto.html">CONTACTO</a></li>
               </ul>
         </nav>
      </header>
      <main>
<!---------------------------------------------------------------ULTIMOS RESULTADOS------------------------------------------------------>
        <section id="ult-resultados">
            <div class="fila">
      <!---------------------------------------------------PARTIDO 1-------------------------------------------------------->
               <article class="partidos">
                  <img src="../assets/img/logo-celtics.png" alt="Celtics" class="logo-articulo"  width="2100" height="2333">
                  <p class="resultado"><span class="team">126</span> - <span class="team">105</span></p>
                  <img src="../assets/img/logo-lakers.png" alt="Lakers" class="logo-articulo" width="2400" height="1600">
               </article>
           <!---------------------------------------------------PARTIDO 2-------------------------------------------------------->      
               <article class="partidos">
                  <img src="../assets/img/logo-celtics.png" alt="Celtics" class="logo-articulo" width="2100" height="2333">
                  <p class="resultado"><span class="team">121</span> - <span class="team">113</span></p>
                  <img src="../assets/img/logo-golden-state-warriors.png" alt="Golden State Warriors" class="logo-articulo" width="800" height="600">
               </article>
          <!---------------------------------------------------PARTIDO 3-------------------------------------------------------->
               <article class="partidos">
                  <img src="../assets/img/logo-celtics.png" alt="Celtics" class="logo-articulo" width="2100" height="2333">
                  <p class="resultado"><span class="team">101</span> - <span class="team">116</span></p>
                  <img src="../assets/img/logo-bulls.png" alt="Bulls" class="logo-articulo" width="800" height="600">
               </article>
         <!---------------------------------------------------PARTIDO 4-------------------------------------------------------->
               <article class="partidos">
                  <img src="../assets/img/logo-celtics.png" alt="Celtics" class="logo-articulo" width="2100" height="2333">
                  <p class="resultado"><span class="team">105</span> - <span class="team">112</span></p>
                  <img src="../assets/img/logo-knicks.png" alt="Knicks" class="logo-articulo" width="2400" height="2000">
               </article>
               <div class="linea-vertical"></div>
         <!--------------------------------------------------INFO CELTICS CLASIFICACION-------------------------------------------------------->
               <ul>
                  <li>
                        Posicion en la Conferencia Este: <span class="body-span">2º</span>
                  </li>
                  <li>
                        Record de la Temporada: <span class="body-span">26-16</span>
                  </li>
                  <li>
                        Proximo Partido: <span class="body-span">vs Indiana Pacers, 3 Feb</span>
                  </li>
               </ul>
            </div>
         </section>
<!---------------------------------------------------------------SLIDER------------------------------------------------------>
         <section> 
            <div class="slider-box">
               <ul>
                     <li>
                           <img src="../assets/img/foto-slider1.gif" alt="slider 1" class="img-carrusel" width="480" height="480">
                     </li>
                     <li>
                           <img src="../assets/img/foto-slider2.webp" alt="slider 2" class="img-carrusel" width="1440" height="1440">
                     </li>
                     <li> 
                           <img src="../assets/img/foto-slider3.jpg" alt="slider 3" class="img-carrusel" width="703" height="503">
                     </li>
                     <li>
                           <img src="../assets/img/foto-slider4.jpg" alt="slider 4" class="img-carrusel" width="736" height="1072">
                     </li>
               </ul>
            </div>
         </section>
<!---------------------------------------------------------------GALERIA PRINCIPAL------------------------------------------------------>
         <section class="grid-container1">
            <div class="item-a">
               <img src="../assets/img/galeria1.jpg" alt="imagen 01" class="galeria-grid img" width="606" height="1077"> 
            </div>
            <div>
               <img src="../assets/img/galeria2.jpg" alt="imagen 02" class="galeria-grid img" width="736" height="920"> 
            </div>
            <div class="item-b">
               <img src="../assets/img/galeria3.jpg" alt="imagen 03" class="galeria-grid img" width="1920" height="1080"> 
            </div>
            <div>
               <img src="../assets/img/galeria4.jpg" alt="imagen 04" class="galeria-grid img" width="735" height="560"> 
            </div>
            <div class="item-c">
               <img src="../assets/img/galeria5.jpg" alt="imagen 05" class="galeria-grid img" width="736" height="1308"> 
            </div>
            <div>
               <img src="../assets/img/galeria6.jpg" alt="imagen 06" class="galeria-grid img" width="736" height="920">
            </div>
            <div>
               <img src="../assets/img/galeria7.jpg" alt="imagen 07" class="galeria-grid img" width="1062" height="1295"> 
            </div>
            <div class="item-d">
               <img src="../assets/img/galeria8.jpg" alt="imagen 08" class="galeria-grid img" width="736" height="524"> 
            </div>
         </section>
<!---------------------------------------------------------------GALERIA LEYENDAS------------------------------------------------------>
         <section class="grid-container2">
            <div>
               <img src="../assets/img/galeria9.jpg" alt="imagen 09" class="galeria-grid img" width="736" height="920"> 
            </div>
            <div>
               <img src="../assets/img/galeria10.jpg" alt="imagen 10" class="galeria-grid img" width="720" height="960">
            </div>
            <div>
               <img src="../assets/img/galeria11.jpg" alt="imagen 11" class="galeria-grid img" width="736" height="920"> 
            </div>
            <div>
               <img src="../assets/img/galeria12.jpg" alt="imagen 12" class="galeria-grid img" width="316" height="400"> 
            </div>
            <div>
               <img src="../assets/img/galeria13.jpg" alt="imagen 13" class="galeria-grid img" width="736" height="1308"> 
            </div>
            <div>
               <img src="../assets/img/galeria14.jpg" alt="imagen 14" class="galeria-grid img" width="736" height="1283"> 
            </div>
         </section>
<!---------------------------------------------------------------GALERIA ESTADIO------------------------------------------------------>
         <section class="grid-container3">
            <div class="item-a">
               <img src="../assets/img/galeria15.jpg" alt="imagen 15" class="galeria-grid img" width="736" height="1308"> 
            </div>
            <div>
               <img src="../assets/img/galeria16.jpg" alt="imagen 16" class="galeria-grid img" width="736" height="920">
            </div>
            <div class="item-e">
               <img src="../assets/img/galeria17.jpg" alt="imagen 17" class="galeria-grid img" width="735" height="436"> 
            </div>
            <div>
               <img src="../assets/img/galeria18.jpg" alt="imagen 18" class="galeria-grid img" width="736" height="981"> 
            </div>
            <div>
               <img src="../assets/img/galeria19.jpg" alt="imagen 19" class="galeria-grid img" width="736" height="736"> 
            </div>
            <div class="item-e">
               <img src="../assets/img/galeria20.jpg" alt="imagen 20" class="galeria-grid img" width="735" height="490">
            </div>
            <div>
                  <img src="../assets/img/galeria21.jpg" alt="imagen 21" class="galeria-grid img" width="736" height="920">
            </div>
            <div>
                  <img src="../assets/img/galeria22.jpg" alt="imagen 22" class="galeria-grid img" width="735" height="535">
            </div>
            <div>
                  <img src="../assets/img/galeria23.jpg" alt="imagen 23" class="galeria-grid img" width="736" height="489">
            </div>
         </section>
      </main>
<!--------------------------------------------------------------FOOTER----------------------------------------------------------------->
      <footer>
         <p class="p1">Síguenos en nuestras redes sociales:</p>
            <a href="https://www.twitter.com/bostonceltics/"><img src="../assets/img/twitter.png" alt="twitter" class="twitter" width="512" height="512"></a>
            <a href="https://www.instagram.com/celtics/"><img src="../assets/img/instagram.png" alt="instagram icons" class="instagram" width="512" height="512"></a>
            <a href="https://www.tiktok.com/@celtics/"><img src="../assets/img/tik-tok.png" alt="tiktok" class="tiktok" width="512" height="512"></a>
            <a href="https://www.youtube.com/bostonceltics/"><img src="../assets/img/youtube.png" alt="youtube" class="youtube" width="512" height="512"></a>
         <p class="aviso-legal">Aviso Legal</p>
         <p class="direccion-empresa">Direccion: 100 Legends Way, Boston, USA</p>
      </footer>
   </body>
</html>
      

      
